<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liceu Piauiense</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--MENU LATERAL-->
    <aside>

<div class="menu-lateral">
    <nav>

    <h1>Liceu Piauiense</h1>
    <a href="Dashboard.html">Home</a><br>
    <a href="ranking-turma.html">Ranking da Turma</a><br>
    <a href="ranking-alunos.html">Ranking dos Alunos</a><br>
    <a href="ranking-turmas.html">Ranking das Turmas</a><br><br>
    <a href="Minhas-Notas.html">Minhas Notas</a><br>
    <a href="Presença-Aulas.html">Presença nas Aulas</a><br>
</div>
</nav>
</aside>
<!--CONTEÚDO PRINCIPAL-->
     <main>
        <!--Cabeçalho-->
        <header>
            <h1>Olá, Flávio</h1>
        </header>

<!-- Cards-->
   <section>
     <div>
        <h3>Posição na turma</h3>
        <p>1º lugar</p>
     </div>

        <div>
            <h3>Nota média</h3>
            <p>9.2</p>
        </div>

        <div>
            <h3>Frequência Geral</h3>
            <p>96%</p>
        </div>

        <div>
            <h3>Turma</h3>
            <p>2º B</p>
            <p>Desenvolvimento de Sistemas</p>
        </div>
   </section>

 <!-- Calendário-->
  <section>
    <h2>Calendário Escolar</h2>
   <table>
      <tr>
        <th>Seg</th>
        <th>Ter</th>
        <th>Qua</th>
        <th>Qui</th>
        <th>Sex</th>
        <th>Sab</th>
        <th>Dom</th>
      </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>

            <tr>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr>
   </table>
</section>

<!-- Avisos-->
 <section>
    <h2>Fique por dentro</h2>
    <p>Participe das atividades e mantenha suas notas sempre em dia</p>
</section>

     </main>
</body>
</html>